# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular Languages Data Scientists use
* Commonly used libraries used by Data Scientists
* Python arithmetic equations

### Some of the popular languages Data Scientists use are: 
1. Python
2. R
3. Java

### Some of the commonly used libraries used by Data Scientists include: 
1. NumPy
2. Pandas
3. TensorFlow

|Data Science Tools|
|------------------|
|Apache Spark|
|Hadoop|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
numHours = 200/60
print("Number of hours in 200 minutes is: " + str(numHours))

Number of hours in 200 minutes is: 3.3333333333333335

## Author
Rohit Sayeeganesh